{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "generator-star-spacing": "off",
    "radix": "off",
    "strict": "off",
    "import/no-extraneous-dependencies": "off",
    "import/newline-after-import": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-continue": "off",
    "spaced-comment": "off",
    "prefer-template": "warn",
    "no-underscore-dangle": "off",
    "comma-dangle": ["warn", "never"],
    "object-shorthand": "off",
    "space-before-function-paren": ["error", "never"],
    "brace-style": [2, "stroustrup"],
    "no-useless-escape": "off",
    "no-param-reassign": "off",
    "no-prototype-builtins": "off",
    "consistent-return": "off",
    "max-len": [2, {
      "code": 100,
      "ignorePattern": "(https?:|JSON\\.parse|[Uu]rl =)"
    }]
  }
}
